{% extends 'acc/main.html' %}
{% block content %}
<div class="card">
    <div class="card-header">
      <h2>My location is</h2>
    </div>
    <div class="card-body">
    <div class="card"><label>Address</label>
      <input type="text" name="location" id="loc" placeholder="Enter your Address"></div>
      <div class="card"><label>City/Village</label>
      <input type="text" name="City" id="city" placeholder="Enter Your city"></div>
      <div class="card"><label>Pincode</label>
      <input type="text" name="pincode" id="city" placeholder="Pincode"></div>
      

      
      </div>

      <div>
      <a href="#" class="btn btn-primary">Back</a>
      <a href="#" class="btn btn-primary">Next</a></div>
    </div>
  </div>
  {% endblock %}
